.home {
  background-color: #ffffff; }
  .home__text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15rem;
    margin-right: 10rem;
    margin-left: 10rem; }
    .home__text-title {
      font-size: 6rem;
      max-width: 40%;
      line-height: 7rem; }
    .home__text-description {
      font-size: 2.5rem;
      max-width: 30%;
      line-height: 2.5rem; }
  .home__buttons {
    display: flex;
    gap: 2.5rem;
    font-size: 4.5rem;
    margin-left: 10rem;
    margin-top: 10rem; }

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 2.4rem;
  padding-right: 3rem;
  padding-top: 3rem; }
  .navbar__item {
    text-decoration: none;
    color: #1c1c1c; }
    .navbar__item:hover {
      color: #0da8b1bf;
      font-weight: bold; }
  .navbar__logo {
    font-family: 'Michroma', sans-serif;
    font-size: 2.8rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #1c1c1c;
    margin-right: auto;
    margin-left: 10rem; }

.scroll-button {
  font-size: 13rem;
  color: #0da8b1bf;
  line-height: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 3rem 0; }

.about-section {
  background-color: #f7f7f7; }
  .about-section__title {
    font-size: 6rem;
    text-align: center;
    padding-top: 5rem; }
  .about-section__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .about-section__description {
    width: 45%;
    font-size: 2rem;
    margin-left: 3rem; }
  .about-section__image {
    max-height: 30rem;
    margin-right: 7rem; }

.contact {
  background-color: #f7f7f7; }
  .contact__title {
    font-size: 6rem;
    text-align: center;
    padding-top: 5rem; }
  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-content: center; }
    .contact__form-group {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      position: relative;
      top: 3rem;
      font-size: 2.7rem; }
    .contact__form-label {
      position: absolute;
      bottom: 0;
      transition: all .5s ease-in-out; }
    .contact__form-input {
      border: none;
      border-bottom: 2px solid gray;
      outline: none; }
      .contact__form-input:focus {
        border-bottom: 2px solid #0da8b1bf; }
      .contact__form-input:focus + label,
      .contact__form-input:valid + label {
        font-size: 2rem;
        bottom: 4rem;
        transition: all .5s ease-in-out; }
    .contact__form-textarea {
      border: none;
      border-bottom: 2px solid gray;
      outline: none;
      resize: none;
      font-size: 2rem; }
      .contact__form-textarea:focus {
        border-bottom: 2px solid #0da8b1bf; }
      .contact__form-textarea:focus + label,
      .contact__form-textarea:valid + label {
        font-size: 2rem;
        bottom: 10rem;
        transition: all .5s ease-in-out; }
    .contact__form-button {
      margin: 2rem auto;
      background-color: #0da8b1bf;
      width: 15%;
      height: 4rem;
      border-radius: 10px;
      font-size: 2.5rem;
      border: none;
      box-shadow: 2px 2px 5px 4px #ccc;
      outline: none;
      transition: all 1s ease; }
      .contact__form-button:hover {
        transform: scale(1.2);
        box-shadow: 3px 0px 5px 0px #ccc;
        transition: all 1s ease; }

.container {
  background-color: white;
  box-shadow: 11px 4px 50px 15px rgba(0, 0, 0, 0.25);
  width: 70%;
  margin: 2rem auto;
  border-radius: 20px; }

.projects__title {
  font-size: 6rem;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 3rem; }

.projects__display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 0 5rem; }

.projects__card {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 400px; }
  .projects__card-description {
    background-color: #bebdbd;
    height: 10rem; }
  .projects__card-title {
    text-align: center;
    font-size: 2.5rem; }
  .projects__card-text {
    font-size: 1.5rem; }

body {
  font-family: 'Montserrat', sans-serif; }

html {
  scroll-behavior: smooth; }
